html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hidden {
  display: none !important;
}

body {
  background: #ffffff;
  background-image: url(../img/steve-johnson-GyDueJcQUSo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 10vw auto 10vw;
  grid-template-rows: max-content 1fr min-content;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer"
  ;
}

header {
  grid-area: header;
  height: 80px;
}

nav {
  justify-content: center;
  align-items: center;
  height: max-content;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav li {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

nav button {
  background-color: #0000006b;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #ffffff;
  font-size: 1.5rem;
  border: none;
  width: 49.8vw;
  height: 60px;
  margin-top: 0;
  cursor: pointer;
}

nav button:hover {
  background-color: #000000a6;
}

main {
  grid-area: main;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff88;
}

#starting_page {
  width: 100%;
}

#start_title {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #0b1e2cc4;
}

#starting_page_select_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.starting_page_select_btns {
  padding-top: 70px;
  transition: transform 0.2s ease-in-out;
}

.starting_page_select_btns:hover {
  transform: scale(1.2);
}

.starting_page_select_btns:active {
  transform: scale(1.1);
}

#edit_chart_wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#preview {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#data_list_preview {
  height: 200px;
  background-color:#ffffffa1;
  width: 100%;
  display: flex;
  overflow-y: auto;
  justify-content: flex-start;
}

#data_list_preview > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}

#chart_preview {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffffffc9;
  width: min-content;
  height: min-content;
}

#edit_selectors {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

#editor_persistence_btns {
  display: flex;
  margin-left: 5px;
  flex-direction: column;
  justify-content: space-evenly;
  width: min-content;
  height: 100%;
}

.persistence {
  background-color: #0000006b;
  height: 40px;
  width: 100%;
  padding: 5px;
  color: #0b1e2c;
  border: none;
}

.persistence:hover {
  background-color: #000000a6;
}

#saved_page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.saved_chart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 30px;
  border-bottom: 3px solid #0b1e2c9d;
}

.saved_chart_buttons {
  display: flex;
  flex-direction: row;
}

.delete_chart, .download_saved_chart {
  margin: 5px;
  width: 80px;
}

footer {
  grid-area: footer;
  background-color: #00000041;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 50px;
}

footer a {
  color: #000127;
}

@media screen and (max-width: 850px) {
  body {
    grid-template-columns: 5vw auto 5vw;
  }

  .starting_page_select_btns {
    width: 150px;
  }
}

@media screen and (max-width: 500px) {
  .starting_page_select_btns {
    width: 100px;
  }
}