# Test Report

Current test status:

| Test  | Status  | Note  |
|-------|---------|-------|
|       |         |       |

## Manual testing
Manual testing is more appropiate for this application, each use case handles a different functionality in the application and they are all tested both on a local server during development but also when the application is launched since it will be launched (and connected to the GitHub repo with auto updating) from the start of the development.

## UC1 Creating a graph/chart

**TC1.1** - Create a column chart.

**Input:**

**Expected result:**

## UC2 Customizing a graph/chart

**TC2.1** -

**Input:**

**Expected result:**

## UC3 Deleting a graph/chart

**TC3.1** -

**Input:**

**Expected result:**

## UC4 Saving a graph/chart

**TC4.1** -

**Input:**

**Expected result:**

## UC5 Downloading a graph/chart

**TC5.1** -

**Input:**

**Expected result:**